body {
    padding-top: 55px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.bkimg{

    background-image:url("../Images/pexels-photo-11352.jpeg");
    background-repeat:no-repeat;
    width:auto;
    height: 500px;
    background-size:100%;
    align-content:center;
    align-items:center
}

/*search */

       input[type=text] {
           width: 200px;
           height: 80PX;
           font-size: 28px;
           -webkit-transition: width 0.4s ease-in-out;
           transition: width 0.4s ease-in-out;
           margin-left:380px;
           border-radius: 8px;
       }


       input[type=text]:focus {
           width: 30%;
       }
       .button {
           border-radius: 8px;
           background-color: #f4c95d;
           border: none;
           color: #FFFFFF;
           text-align: center;
           font-size: 28px;
           padding: 20px;
           width: 200px;
           transition: all 0.5s;
           cursor: pointer;
           margin: 5px;
       }

       .button span {
           cursor: pointer;
           display: inline-block;
           position: relative;
           transition: 0.5s;
       }

       .button span:after {
           content: '\00bb';
           position: absolute;
           opacity: 0;
           top: 0;
           right: -20px;
           transition: 0.5s;
       }

       .button:hover span {
           padding-right: 25px;
       }

       .button:hover span:after {
           opacity: 1;
           right: 0;
       }

.logo {

    width:350px;
    margin-top:50px;
    margin-left:400px;

}

.about{

    width:900px;

}

div.maplink {
    
    text-align:center
}